@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

@font-face {
    font-family: 'despelote_regular';
    src: url('fonts/Despelote-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'despelote_Thic';
    src: url('fonts/DespeloteThic-Regular.ttf') format('truetype');
}

body {
    background-image: url('parallax/fondo%20noise.png');
    background-size: 100% auto;
    background-repeat: repeat-y;

    margin: 0;
    padding: 0;
    border: 0;
    z-index: 0;
    
    font-family: 'Comfortaa', cursive;
    /* font-family: 'despelote_regular'; */
}


#mainstuff {
    background-image: url('parallax/fondo%20noise.png');
    background-size: 100% auto;
    background-repeat: repeat-y;
    
	position: relative;
	z-index: 98;
    margin: 0;
}

#mainbody {
	max-width: 900px;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: auto;
	margin-right: auto;
    text-align: left;
	z-index: 99;
	position: relative;
    
    font-family: 'Comfortaa', cursive;
    /* font-family: 'despelote_regular'; */
    font-size: 30px;
    color:#7a2259;
    /* color: white; */
    /* -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: black; */
}


h1{
    font-family: 'Comfortaa', cursive;
    /* font-family: 'despelote_regular'; */
    font-size: 45px;
    color:#7a2259;
    /* color: white; */
    margin: 0;
    text-align: center;
}

a{
    color:#7a2259;
    /* color: white; */
    font-weight: bold;
}

#gamedescription{
    text-align: justify;
}
#gamedescription h1{
    font-size: 30px;
    font-weight: bold;
}

#extranotes{
    font-size: 25px;
    text-align: center;
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-evenly;
    align-items: baseline;
}

.flex-item-characters {
  max-width: 18%;
}

.flex-item-snapshots {
  max-width: 32%;
  /* -webkit-flex-flow: column wrap; */
}

/*mailchimp stuff*/
#mc_embed_signup{
    background:clear; 
    color:#7a2259;
    clear:left; 
    font-family: 'Comfortaa', cursive;
    width:100%;
    
}


/*youtube stuff*/
.videocontain {
	position: relative;
	padding-bottom: 56.1%;
	height: 0;
	overflow: hidden;
}

.videocontain iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* footer image */

img { 
    position: relative;
    width: 100%; 
    margin: 0px;
    background-position: bottom center;
}

/* parallax stuff*/ 
/*ITS WORKING DONT TOUCH!**/

.keyart, .keyart_layer {
	height: 70vw;
    background-repeat: no-repeat;
}

.keyart {
	position: relative;
	z-index: -10;
}

.keyart_layer {
	background-position: bottom center;
	background-size: 100% auto;
	width: 100%;
}
.keyart_layer.parallax {
	position: fixed;
}

#keyart-0 {
  background-image: url('parallax/nubes.png');
}
#keyart-1 {
  background-image: url('parallax/montanas.png');
}
#keyart-2 {
  background-image: url('parallax/creditos.png');
}
#keyart-3 {
  background-image: url('parallax/edificios.png');
}
#keyart-4 {
  background-image: url('parallax/titulo.png');
}
#keyart-5 {
  background-image: url('parallax/arboles.png');
}

/* mobile stuff*/

@media only screen and (max-width: 500px){
    #mainbody {
    font-size: 4.5vw;
    }
    h1{
        font-size: 5.5vw;
    }
    #gamedescription h1{
        font-size: 5vw;
    }
    .flex-item-characters {
        max-width: 20%;
    }
    .flex-item-snapshots {
        max-width: 95%;
    }
    #extranotes{
        font-size: 4.5vw;
    }
}
